*{
    margin: 0;
    padding: 0;
}

h2, a, p {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 990px;
    margin: auto;
}

.container.align-top {
    align-items: flex-start;
}

.border {
    border-radius: 14px;
    background-color: rgb(245, 248, 250);
}

.follow {
    padding: 5px 15px;
    border: 1px solid rgb(29, 161, 242);
    border-radius: 40px;
    color: rgb(29, 161, 242);
    font-weight: bold;
}

/*HEADER*/

header {
    border-bottom: 1px solid rgb(204, 214, 221);
}

header .container {
    height: 54px;
}

header .search {
    display: flex;
    align-items: center;
    background: #e6ecf0;
    border-radius: 50px;
    flex-grow: .5;
}

header .search.active {
    background-color: white;
    border: 1px solid #1DA1F2;
}

header .search img {
    width: 15px;
    height: 15px;
    margin: 0 20px;
}

header .search input#search {
    flex-grow: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
}

header .search input#search:focus {
    border: 0;
    outline: 0;
}

header .settings {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .settings:hover {
    background-color: rgb(232, 245, 254);
}

/*HEADER*/

/*FEED*/

.feed {
  border-left: 1px solid rgb(204, 214, 221);
  border-right: 1px solid rgb(204, 214, 221);
  max-width: 600px; 
}

.feed .profile {
    border-radius: 134px;
    border: 4px solid white;
    position: relative;
    left: 10px;
    bottom: 74px;
    z-index: 1;
}

.feed .bio {
    position: relative;
    bottom: 150px;
    padding: 10px 15px 15px;
}

.feed .bio .follow-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.feed .bio .follow-btn .follow{
    padding: 10px 15px;
}

/*FEED*/

/*MORE*/

.more {
    width: 350px;
}

.more .media {
    margin-top: 10px;
    background-color: white;
    overflow: hidden;
}

.more .suggestions {
    margin-top: 10px;
}

.more .suggestions h2 {
    padding: 10px 15px;
}

.more .suggestions .profile {
    border-top: 1px solid rgb(230, 236, 240);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.more .suggestions .profile .avatar {
    border-radius: 50px;
}

.more .suggestions .profile .user {
    flex-grow: 1;
}

.more .suggestions .profile .user a {
    display: block;
    margin-left: 10px;
}

.more .suggestions .profile .user .fullname {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.more .suggestions .profile .user .account {
    color: #657786;
    font-size: 15px;
}

.more .suggestions .show-more {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid rgb(230, 236, 240);
    color: rgb(29, 161, 242);
}

.more .links {
    margin-top: 20px;
}

.more .links a {
    font-size: 13px;
    color: #657786;
    padding-right: 10px;
}

.more .links a:hover {
    text-decoration: underline;
}

.more .copyright p {
    color: #657786;
    font-size: 13px;
    margin-top: 10px;
}

/*MORE*/